@import "../main.scss";
@import "../vartiables";


.Carousel {

  background: url("./apth.svg") no-repeat top;
  background-size: contain;

  .content_wrapper {
	padding: 160px 0 100px;
	text-align: center;
  }

  .subject {
	&__title {
	  margin: 10px 0 40px;
	}
  }

  .comment {
	display: none;

	&__item {
	  background-color: #62902B;
	  border-radius: 10px;
	  padding: 14px 20px;
	  position: relative;
	  max-width: 620px;
	  margin: 0 auto;

	  &::after {
		position: absolute;
		content: '';
		width: 45px;
		height: 40px;
		background-color: #62902B;
		transform: rotate(135deg);
		z-index: -1;
		left: 48%;
		bottom: -7%;
	  }
	}

	.comment__avatar {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  text-align: start;
	  margin-top: 50px;

	  .info {
		margin-left: 15px;
	  }

	  .name h3 {
		font-size: calc(#{$font-h - 16px});
	  }

	  .dear p {
		color: #000000;
	  }
	}
  }

  #comment_input:checked ~ #comment,
  #comment_input2:checked ~ #comment2,
  #comment_input3:checked ~ #comment3 {
	display: block;
  }


}